.match {
    width: 100%;
    display: flex;
    padding: 2rem 0;
    border-top: 1px dashed #ffffff;
    border-bottom: 1px dashed #ffffff;
    &__list {
        width: 50%;
    }
    &__winner {
        width: 50%;
        display: flex;
        align-items: center;
        &>.participant-entry {
            border-left: none;
        }
        &#{&}--deciding {
            &>.participant {
                background: #880000;
            }
        }
        &#{&}--final {
            &>.participant {
                background: #008800;
            }
        }
    }
}