.participant-entry {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
    border: 1px solid #aaa;
    width: 100%;
    .participant-entry__avatar {
        text-align: center;
        height: 5rem;
        img {
            height: 5rem;
        }
    }
    .participant-entry__name {
        text-align: center;
        font-size: 3rem;
        flex-grow: 1;
        word-break: break-all;
    }
}