@import url("./font/font.css");
* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    font-family: "Open Sans", sans-serif;
    font-display: swap;
    font-weight: 400;
    overflow-x: hidden;
    color: #333;
    background: #fff;
}

.title {
    padding-top: 15px;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

#app {
    width: 100%;
}

#app .wrapper {
    width: 100%;
    font-size: 0;
    padding: 20px 15px;
    display: flex;
    overflow-x: hidden;
    transition: opacity 200ms ease-in-out;
}

#app .wrapper.hide {
    opacity: 0.00001;
}

#app .wrapper .group {
    min-width: 50%;
    max-width: 50%;
    display: flex;
    transition: opacity 200ms ease-in-out, transform 500ms ease-in-out;
    flex-direction: column;
    justify-content: space-around;
    transform: translateX(0%);
    opacity: 0.99999;
}

#app .wrapper .group.right {
    transform: translateX(100%);
    transition: opacity 200ms ease-in-out;
}

#app .wrapper .group:nth-child(2).right {
    transform: translateX(0%);
    transition: opacity 200ms ease-in-out;
}

#app .wrapper .group.hide {
    opacity: 0.00001;
}

#app .wrapper .group .participant {
    text-align: center;
    width: 100%;
    padding: 20px 15px;
    font-size: 1.2rem;
    border-right-width: 2px;
    border-right-style: dashed;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: #333;
    transition: opacity 200ms ease-in-out, background-color 200ms ease-in-out, border-color 200ms ease-in-out;
    opacity: 0.99999;
}

#app .wrapper .group .participant.hide {
    opacity: 0.00001;
}

#app .wrapper .group .participant.active {
    background: #00b;
    color: #fff;
    border-color: #00b;
}

#app .wrapper .group .participant.active:nth-child(2n - 1) {
    border-bottom-color: #fff;
}

#app .wrapper .group .participant.winner {
    background: #0b0;
    color: #fff;
    border-color: #0b0;
}

#app .wrapper .group .participant.unknown {
    background: #b00;
    color: #fff;
    border-color: #b00;
}

#app .wrapper .group .participant:first-child,
#app .wrapper .group:nth-child(2).right .participant {
    border-top-width: 2px;
    border-top-style: solid;
}

#app .modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: opacity 200ms ease-in-out;
}

#app .modal-wrapper.hide {
    opacity: 0.00001;
}

#app .modal-wrapper .modal {
    padding: 20px 15px;
    background: #fff;
    min-width: 50%;
    max-width: 85%;
    height: 45%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
}

#app .modal-wrapper .modal .header {
    white-space: nowrap;
    width: 200%;
    text-align: left;
    transform: translateX(25%);
    transition: transform 500ms ease-in-out;
}

#app .modal-wrapper .modal .header.next {
    transform: translateX(-25%);
}

#app .modal-wrapper .modal .header .title {
    display: inline-block;
    width: 50%;
    font-size: 1.8rem;
    text-align: center;
    transition: opacity 500ms ease-in-out;
    opacity: 0.99999;
}

#app .modal-wrapper .modal .header .title.hide {
    opacity: 0.00001;
}

#app .modal-wrapper .modal .header .title:nth-child(2).hide {
    opacity: 0.00001;
}

#app .modal-wrapper .modal .text {
    font-style: italic;
    transition: opacity 500ms ease-in-out;
    opacity: 0.99999;
}

#app .modal-wrapper .modal .name {
    transition: opacity 500ms ease-in-out;
    opacity: 0.99999;
}

#app .modal-wrapper .modal .name.hide {
    opacity: 0.00001;
}