@import url("./font/font.css");
* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    font-family: "Open Sans", sans-serif;
    font-display: swap;
    font-weight: 400;
    overflow-x: hidden;
    color: #333;
    background: #fff;
}

.title {
    padding-top: 15px;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

#app {
    width: 100%;
}

#app .wrapper {
    width: 100%;
    font-size: 0;
    padding: 20px 15px;
    display: flex;
    overflow-x: hidden;
}

#app .wrapper.hide {
    opacity: 0.00001;
}

#app .wrapper .group {
    min-width: 50%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transform: translateX(0%);
    opacity: 0.99999;
}

#app .wrapper .group.right {
    transform: translateX(100%);
}

#app .wrapper .group:nth-child(2).right {
    transform: translateX(0%);
}

#app .wrapper .group.hide {
    opacity: 0.00001;
}

#app .wrapper .group .participant {
    text-align: center;
    width: 100%;
    padding: 20px 15px;
    font-size: 1.2rem;
    border-right-width: 2px;
    border-right-style: dashed;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: #333;
    opacity: 0.99999;
    word-break: break-all;
}

#app .wrapper .group .participant.hide {
    opacity: 0.00001;
}

#app .wrapper .group .participant.active {
    background: #00b;
    color: #fff;
    border-color: #00b;
}

#app .wrapper .group .participant.active:nth-child(2n - 1) {
    border-bottom-color: #fff;
}

#app .wrapper .group .participant.winner {
    background: #0b0;
    color: #fff;
    border-color: #0b0;
}

#app .wrapper .group .participant.unknown {
    background: #b00;
    color: #fff;
    border-color: #b00;
}

#app .wrapper .group .participant:first-child,
#app .wrapper .group:nth-child(2).right .participant {
    border-top-width: 2px;
    border-top-style: solid;
}

#app .speed-wrapper {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
}

#app .speed-wrapper button {
    border: 1px solid #cccccc;
    background: #ffffff;
    border-radius: 0;
    padding: 7px 12px;
}

#app .modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#app .modal-wrapper.hide {
    opacity: 0.00001;
}

#app .modal-wrapper .modal {
    padding: 20px 15px;
    background: #fff;
    min-width: 50%;
    max-width: 85%;
    min-height: 45%;
    max-height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    border-radius: 10px;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
}

#app .modal-wrapper .modal .header {
    width: 200%;
    text-align: left;
    transform: translateX(25%);
}

#app .modal-wrapper .modal .header.next {
    transform: translateX(-25%);
}

#app .modal-wrapper .modal .header .title {
    display: inline-block;
    width: 50%;
    font-size: 1.8rem;
    text-align: center;
    opacity: 0.99999;
    word-break: break-all;
}

#app .modal-wrapper .modal .header .title.final {
    word-break: normal;
}

#app .modal-wrapper .modal .header .title.hide {
    opacity: 0.00001;
}

#app .modal-wrapper .modal .header .title:nth-child(2).hide {
    opacity: 0.00001;
}

#app .modal-wrapper .modal .text {
    font-style: italic;
    opacity: 0.99999;
}

#app .modal-wrapper .modal .name {
    opacity: 0.99999;
}

#app .modal-wrapper .modal .name.hide {
    opacity: 0.00001;
}


/**
 * Transition Speed: 0.5x
 */

#app.x0_5 .wrapper {
    transition: opacity 400ms ease-in-out;
}

#app.x0_5 .wrapper .group {
    transition: opacity 400ms ease-in-out, transform 1000ms ease-in-out;
}

#app.x0_5 .wrapper .group.right {
    transition: opacity 400ms ease-in-out;
}

#app.x0_5 .wrapper .group:nth-child(2).right {
    transition: opacity 400ms ease-in-out;
}

#app.x0_5 .wrapper .group .participant {
    transition: opacity 400ms ease-in-out, background-color 400ms ease-in-out, border-color 400ms ease-in-out;
}

#app.x0_5 .modal-wrapper {
    transition: opacity 400ms ease-in-out;
}

#app.x0_5 .modal-wrapper .modal .header {
    transition: transform 1000ms ease-in-out;
}

#app.x0_5 .modal-wrapper .modal .header .title {
    transition: opacity 1000ms ease-in-out;
}

#app.x0_5 .modal-wrapper .modal .text {
    transition: opacity 1000ms ease-in-out;
}

#app.x0_5 .modal-wrapper .modal .name {
    transition: opacity 1000ms ease-in-out;
}


/**
 * Transition Speed: 1x
 */

#app.x1 .wrapper {
    transition: opacity 200ms ease-in-out;
}

#app.x1 .wrapper .group {
    transition: opacity 200ms ease-in-out, transform 500ms ease-in-out;
}

#app.x1 .wrapper .group.right {
    transition: opacity 200ms ease-in-out;
}

#app.x1 .wrapper .group:nth-child(2).right {
    transition: opacity 200ms ease-in-out;
}

#app.x1 .wrapper .group .participant {
    transition: opacity 200ms ease-in-out, background-color 200ms ease-in-out, border-color 200ms ease-in-out;
}

#app.x1 .modal-wrapper {
    transition: opacity 200ms ease-in-out;
}

#app.x1 .modal-wrapper .modal .header {
    transition: transform 500ms ease-in-out;
}

#app.x1 .modal-wrapper .modal .header .title {
    transition: opacity 500ms ease-in-out;
}

#app.x1 .modal-wrapper .modal .text {
    transition: opacity 500ms ease-in-out;
}

#app.x1 .modal-wrapper .modal .name {
    transition: opacity 500ms ease-in-out;
}


/**
 * Transition Speed: 1.5x
 */

#app.x1_5 .wrapper {
    transition: opacity 133ms ease-in-out;
}

#app.x1_5 .wrapper .group {
    transition: opacity 133ms ease-in-out, transform 333ms ease-in-out;
}

#app.x1_5 .wrapper .group.right {
    transition: opacity 133ms ease-in-out;
}

#app.x1_5 .wrapper .group:nth-child(2).right {
    transition: opacity 133ms ease-in-out;
}

#app.x1_5 .wrapper .group .participant {
    transition: opacity 133ms ease-in-out, background-color 133ms ease-in-out, border-color 133ms ease-in-out;
}

#app.x1_5 .modal-wrapper {
    transition: opacity 133ms ease-in-out;
}

#app.x1_5 .modal-wrapper .modal .header {
    transition: transform 333ms ease-in-out;
}

#app.x1_5 .modal-wrapper .modal .header .title {
    transition: opacity 333ms ease-in-out;
}

#app.x1_5 .modal-wrapper .modal .text {
    transition: opacity 333ms ease-in-out;
}

#app.x1_5 .modal-wrapper .modal .name {
    transition: opacity 333ms ease-in-out;
}


/**
 * Transition Speed: 2x
 */

#app.x2 .wrapper {
    transition: opacity 100ms ease-in-out;
}

#app.x2 .wrapper .group {
    transition: opacity 100ms ease-in-out, transform 250ms ease-in-out;
}

#app.x2 .wrapper .group.right {
    transition: opacity 100ms ease-in-out;
}

#app.x2 .wrapper .group:nth-child(2).right {
    transition: opacity 100ms ease-in-out;
}

#app.x2 .wrapper .group .participant {
    transition: opacity 100ms ease-in-out, background-color 100ms ease-in-out, border-color 100ms ease-in-out;
}

#app.x2 .modal-wrapper {
    transition: opacity 100ms ease-in-out;
}

#app.x2 .modal-wrapper .modal .header {
    transition: transform 250ms ease-in-out;
}

#app.x2 .modal-wrapper .modal .header .title {
    transition: opacity 250ms ease-in-out;
}

#app.x2 .modal-wrapper .modal .text {
    transition: opacity 250ms ease-in-out;
}

#app.x2 .modal-wrapper .modal .name {
    transition: opacity 250ms ease-in-out;
}


/**
 * Transition Speed: 5x
 */

#app.x5 .wrapper {
    transition: opacity 40ms ease-in-out;
}

#app.x5 .wrapper .group {
    transition: opacity 40ms ease-in-out, transform 100ms ease-in-out;
}

#app.x5 .wrapper .group.right {
    transition: opacity 40ms ease-in-out;
}

#app.x5 .wrapper .group:nth-child(2).right {
    transition: opacity 40ms ease-in-out;
}

#app.x5 .wrapper .group .participant {
    transition: opacity 40ms ease-in-out, background-color 40ms ease-in-out, border-color 40ms ease-in-out;
}

#app.x5 .modal-wrapper {
    transition: opacity 40ms ease-in-out;
}

#app.x5 .modal-wrapper .modal .header {
    transition: transform 100ms ease-in-out;
}

#app.x5 .modal-wrapper .modal .header .title {
    transition: opacity 100ms ease-in-out;
}

#app.x5 .modal-wrapper .modal .text {
    transition: opacity 100ms ease-in-out;
}

#app.x5 .modal-wrapper .modal .name {
    transition: opacity 100ms ease-in-out;
}


/**
 * Transition Speed: 10x
 */

#app.x10 .wrapper {
    transition: opacity 20ms ease-in-out;
}

#app.x10 .wrapper .group {
    transition: opacity 20ms ease-in-out, transform 50ms ease-in-out;
}

#app.x10 .wrapper .group.right {
    transition: opacity 20ms ease-in-out;
}

#app.x10 .wrapper .group:nth-child(2).right {
    transition: opacity 20ms ease-in-out;
}

#app.x10 .wrapper .group .participant {
    transition: opacity 20ms ease-in-out, background-color 20ms ease-in-out, border-color 20ms ease-in-out;
}

#app.x10 .modal-wrapper {
    transition: opacity 20ms ease-in-out;
}

#app.x10 .modal-wrapper .modal .header {
    transition: transform 50ms ease-in-out;
}

#app.x10 .modal-wrapper .modal .header .title {
    transition: opacity 50ms ease-in-out;
}

#app.x10 .modal-wrapper .modal .text {
    transition: opacity 50ms ease-in-out;
}

#app.x10 .modal-wrapper .modal .name {
    transition: opacity 50ms ease-in-out;
}


/**
 * Transition Speed: 20x
 */

#app.x20 .wrapper {
    transition: opacity 10ms ease-in-out;
}

#app.x20 .wrapper .group {
    transition: opacity 10ms ease-in-out, transform 25ms ease-in-out;
}

#app.x20 .wrapper .group.right {
    transition: opacity 10ms ease-in-out;
}

#app.x20 .wrapper .group:nth-child(2).right {
    transition: opacity 10ms ease-in-out;
}

#app.x20 .wrapper .group .participant {
    transition: opacity 10ms ease-in-out, background-color 10ms ease-in-out, border-color 10ms ease-in-out;
}

#app.x20 .modal-wrapper {
    transition: opacity 10ms ease-in-out;
}

#app.x20 .modal-wrapper .modal .header {
    transition: transform 25ms ease-in-out;
}

#app.x20 .modal-wrapper .modal .header .title {
    transition: opacity 25ms ease-in-out;
}

#app.x20 .modal-wrapper .modal .text {
    transition: opacity 25ms ease-in-out;
}

#app.x20 .modal-wrapper .modal .name {
    transition: opacity 25ms ease-in-out;
}