.loser-overlay-wrapper {
  z-index: 1;
  background: #000000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.000001;
  will-change: opacity;
  &--exiting,
  &--exited {
    opacity: 0.000001;
  }
  &--entered,
  &--entering {
    opacity: 0.99999;
  }
}
